@charset 'utf-8';

$dark: rgba(200, 247, 197, 1);
$primary: $dark;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/section.sass";

.hero {
  .title, .subtitle {
    color: #FFFFFF;
  }
}
.navbar-item {
  color: #FFFFFF;
}
 //HOMEPAGE----------------------------------------------------
.imagecontainer {
  height: 92vh;
  max-width: 100%;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)), url('https://kinderling.s3.amazonaws.com/kinderling/assets/processed/21/1858b02bb811e79163ab7c94478457/2384ebe02bb811e7973bdddc08fd00dc_content_medium.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.homebtn {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: bold;
}
//-----------------------------------------------------------

//REGISTER AND LOGIN PAGE---------------------------
.hero-body{
  padding: 7rem 1.5rem;
  color: $primary;
}
//---------------------------------------------
.commenth3 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  color: #FFFFFF;
}
.user-page{
  display: flex;
  justify-content: center;
}
.usertitle {
  color: #FFFFFF;
}
.text {
 color: black;
 font-weight: 200px;
}

.ingredientBtn {
  width: 100%;
  height:15rem;
  padding: 3%;


}

.image {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  margin: auto;
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;

  span {
    display: none;
  }
  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.3);
    margin: 5px;
  }
  &:active {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.8);
  }
  &:visited {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.8);
  }
}

.title {
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  font-weight: bold;
}

.subtitle {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: bold;
}

.navbar-item {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 25px;
}

.submitingbtn {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 35px;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

.tile {
  margin-top: 10px;
}
.maintile {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
