// .column {
//   height: 300px;
// }
.user-page{
  display: flex;
  justify-content: center;
}
.user-p{
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  font-weight: bold;
}
.text {
 color: black;
 font-weight: 200px;
}


.isImage {
  text-align: center;
  max-height: 300px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  background: rgba(0,0,0,0.8);
  border-radius: 10px;
  margin: 10px;
  transition: all .2s ease-in-out;
  .image img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.3);
    margin: 5px;
  }
}

.title {
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  font-weight: bold;
}

.subtitle {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: bold;
}

.navbar-item {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 20px;
}

.isImage{
  display:flex;
  align-items: center;
  justify-content: center;
}

.image {
  height:300px;
  width:300px;
  display:flex;
  align-items: center;
  justify-content: center;
}
